/* styles.css */
.button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

.button:hover {
    background-color: #45a049; /* Darker green */
}

.buttons {
    margin-top: 20px;
}
