footer {
    position: fixed;
    height: 50px;
    background-color: rgb(30, 10, 10);
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    text-align: center bottom;
}
p {
    display: inline-block;
}
a {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

footer #cpsDisplay{
    position: absolute;
    right: 10px;
}